.container {
  margin: 0 4rem;
  background-color: #ffff;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(217,217,217);
}

.navbar {
  padding: 0.5rem 1rem;
  background-color: rgb(229,67,1);
}

.card {
  margin: 2rem;
  text-align: left;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.cardText {
  margin-left: 1.5rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
}

.search {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  color: rgb(176,176,176);
}

.search input {
  margin-left: 0.5rem;
  width: 50%;
}

.back {
  margin: 0.5rem 4rem;
  color: rgb(176,176,176);
  text-decoration: none;
}

.cardDetail {
  margin: 2rem;
  text-align: left;
  color: #000;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (min-width: 1000px) {
  .navbar {
    padding: 0.5rem 17rem;
  }
  .container {
    margin: 0 20rem;
  }
  .search input {
    width: 35%;
  }
  .back {
    margin: 0.5rem 20rem;
    color: rgb(176,176,176);
  }

}
